<div class="searchbar">
	<div class="filter">
		<div class="search">
			<form method="get" action="<!--{$URL}-->admin/" >
				<input type="hidden" name="page" value="<!--{$PAGE}-->" />
				<input type="text" value="<!--{$SEARCH|escape}-->" class="text" name="search" /><span class="search-button"><input type="submit" value="&nbsp;" class="submit" name="търсене" /></span>
			</form>
		</div>
		<div class="operations">&nbsp;</div>
	</div>

	<!--{if $ORDERS}-->
	<div class="orders">
		<ul>
		<!--{foreach from=$ORDERS key=k item=i name="orders"}-->
			<li>
			<!--{if $i.order|lower eq "asc"}-->
				<a class="icon" title="Низходящо сортиране" href="<!--{$URL}-->admin/?page=<!--{$PAGE}-->&amp;sort=<!--{$i.key}-->&amp;order=desc&amp;search=<!--{$SEARCH|escape}-->"><span class="down"></span><!--{$i.name}--></a>
			<!--{else}-->
				<a class="icon" title="Възходящо сортиране" href="<!--{$URL}-->admin/?page=<!--{$PAGE}-->&amp;sort=<!--{$i.key}-->&amp;order=asc&amp;search=<!--{$SEARCH|escape}-->"><span class="up"></span><!--{$i.name}--></a>
			<!--{/if}-->
				<a class="icon remove" title="Премахване" href="<!--{$URL}-->admin/?page=<!--{$PAGE}-->&amp;sort=<!--{$i.key}-->&amp;delorder=&amp;search=<!--{$SEARCH|escape}-->"><span class="empty remove"></span></a>
			</li>
		<!--{/foreach}-->
		</ul>
	</div>
	<!--{/if}-->
</div>

<form method="post" action="<!--{$URL}-->admin/?page=<!--{$PAGE}-->&amp;action=reset">
	<table class="list">
		<thead>
			<tr>
				<th style="width: 30px"><input type="checkbox" id="select-all" /></th>

				<th title="Сортиране по Настройка">
					<a href="<!--{$URL}-->admin?page=<!--{$PAGE}-->&amp;sort=name&amp;order=<!--{$ORDER|default:"asc"}-->&amp;search=<!--{$SEARCH|escape}-->">Настройка</a>
				</th>


				<th title="Сортиране по Тип">
					<a href="<!--{$URL}-->admin?page=<!--{$PAGE}-->&amp;sort=type&amp;order=<!--{$ORDER|default:"asc"}-->&amp;search=<!--{$SEARCH|escape}-->">Тип</a>
				</th>

				<th>Предназначение</th>

				<th title="Сортиране по Стойност">
					<a href="<!--{$URL}-->admin?page=<!--{$PAGE}-->&amp;sort=value&amp;order=<!--{$ORDER|default:"asc"}-->&amp;search=<!--{$SEARCH|escape}-->">Стойност</a>
				</th>

				<th style="width: 120px">Опции</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th colspan="6">Общо: <!--{$COUNT|default:0}--></th>
			</tr>
		</tfoot>
		<tbody>
		<!--{section name=i loop=$RESULT}-->
			<tr <!--{if $smarty.section.i.index is not even}--> class="odd" <!--{/if}-->>
				<td class="center"><input type="checkbox" class="toSelect" name="reset[]" value="<!--{$RESULT[i].name}-->" /></td>
				<td><strong><!--{$RESULT[i].name}--></strong></td>
				<td><!--{$RESULT[i].type}--></td>
				<td><!--{$RESULT[i].description}--></td>
				<td>
					<!--{if $RESULT[i].type eq 'boolean'}-->
						<label><input type="checkbox" name="<!--{$RESULT[i].name}-->" value="true" <!--{if $RESULT[i].value eq 'true'}-->checked="checked"<!--{/if}--> /> Промяна?</label>
					<!--{else if $RESULT[i].type eq 'string'}-->
						<input type="text" class="text" name="<!--{$RESULT[i].name}-->" value="<!--{$RESULT[i].value|escape}-->" />
					<!--{else if $RESULT[i].type eq 'integer'}-->
						<input type="text" class="text small" name="<!--{$RESULT[i].name}-->" value="<!--{$RESULT[i].value|escape}-->" />
					<!--{/if}-->
				</td>

				<td class="center">
					<a href="#<!--{$RESULT[i].name}-->" class="icon setting"><span class="edit"></span></a>
				</td>

			</tr>
		<!--{sectionelse}-->
			<tr>
				<td colspan="6" class="center">Няма намерени резултати!</td>
			</tr>
		<!--{/section}-->
		</tbody>
	</table>

	<div class="buttons" style="text-align: left">
		<span class="button"><button type="submit" name="submit">Стандартни стойности на избраните</button></span>
	</div>

	<!--{if $PAGING}--><div class="navigation"><!--{$PAGING}--></div><!--{/if}-->
</form>
