<!--{if $CLUB_ID eq 1}-->
<h3>Добре дошли в страницата на Парти Плей Център!</h3>

<p>Центърът е място за забавление за деца на възраст от 1 до 7 години.</p>

<p>Нашата мисия е само една – по-големи усмивки, по-светнали очички, по-звънлив смях.<br />
При нас децата се забавляват пълноценно, като натрупвайки повече щастливи емоции, те растат по-здравословно.<br />
В центъра може да дойдете и с по-големите си деца. Докато мъничетата се забавляват под грижите на нашите аниматори, Вие може да отделите внимание на каката или баткото, като поиграете с него на дартс или на компютърни  игри.<br />
Парти Плей Център разполага с 60 седящи места. Центърът е много подходящ за организиране както на детски рождени дни, така и на други детски тържества и мероприятия.
Центърът разполага с бар, предлагат се храни и напитки.<br />
Всички съоръжения и играчки са изработени от специални материали, съобразени със законодателството.<br />
В центърът е забранено тютюнопушенето. За целта може да ползвате Hi Club (ниво -1 на Пикадили Чаталджа).
</p>

<p>Работно време  09<sup>00</sup>ч. – 20<sup>00</sup>ч. (без почивен ден)</p>


<!--{else}-->
<h3>Добре дошли в страницата на Hi Club!</h3>

<p>Hi Club се намира на ниво – 1 в Пикадили Чаталжда.<br />
Разполага с 80 седящи места.</p>

<p>Клубът е едно приятно място, както за среща на по кафе с приятели, така и за организиране на различни мероприятия.<br />
Тук може да отпразнувате рождения ден на своето дете – като детска дискотека. Ние ще организираме диджей.</p>

<p>В Hi Club можете да отпразнувате още и своите:</p>
<ul style="margin: 10px 35px;">
    <li>Рожден ден</li>
    <li>Имен ден</li>
    <li>Среща на класа</li>
    <li>Фирмено тържество и много други</li>
</ul>

<p>Атрактивните ни цени ще Ви изненадат приятно.</p>


<!--{/if}-->

<h4>Събития</h4>

<div class="gallery-albums gallery">
	<a href="#" class="arrows left"></a>
	<div class="slide">
		<ul class="gallery">
		<!--{section name=i loop=$RESULT.events}-->
			<li>
				<a class="zoom" data-fancybox-group="gallery" title="<!--{$RESULT.events[i].datefull}-->: <!--{$RESULT.events[i].comment}-->" href="<!--{$RESULT.events[i].image}-->">
					<img src="<!--{$RESULT.events[i].thumb}-->" alt="" />
					<span><!--{$RESULT.events[i].date}--></span>
				</a>

				<!--{if $RESULT.events[i].url}-->
				<a class="info" data-link-external="true" href="<!--{$RESULT.events[i].url}-->" title="Информация за събитието"><img src="<!--{$IMG_COMMON}-->link.png" alt="" /></a>
				<!--{/if}-->
			</li>
		<!--{/section}-->


		</ul>
	</div>
	<a href="#" class="arrows right"></a>
</div>


<h4>Албуми</h4>
<div class="gallery-albums">
	<a href="#" class="arrows left"></a>

	<div class="slide">
		<ul>
		<!--{section name=i loop=$RESULT.albums}-->
			<li><a href="<!--{$URL}-->albums/<!--{$RESULT.albums[i].id}-->"><span class="image" style="background-image: url('<!--{$RESULT.albums[i].thumb}-->')"></span></a></li>
		<!--{/section}-->
		</ul>
	</div>

	<a href="#" class="arrows right"></a>
</div>